.usersContainer{
    padding: 20px;
}
button{
    cursor:pointer;
}
.usersBody:not(:last-child){
    margin-bottom: 10px;
}

.userImage{
    max-width: 70px;
}
.userImage img{
    width: 100%;
}

.selectedPage{
    font-weight: 700;
}
.usersPagination span{
    cursor: pointer;
}

